<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content />
    <meta name="keywords" content />

    <title>Pestox - Pest Control Services HTML5 Template</title>

    <link rel="icon" type="image/x-icon" href="assets/img/logo/favicon.png" />

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/all-fontawesome.min.css" />
    <link rel="stylesheet" href="assets/css/flaticon.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div class="preloader">
      <div class="loader">
        <div class="loader-box-1"></div>
        <div class="loader-box-2"></div>
      </div>
    </div>

    <header class="header">
      <div class="header-top">
        <div class="container">
          <div class="header-top-wrapper">
            <div class="header-top-left">
              <div class="header-top-contact">
                <ul>
                  <li>
                    <a href="#"><i class="far fa-map-marker-alt"></i>25/B Milford Road, New York</a>
                  </li>
                  <li>
                    <a href="tel:+21236547898"><i class="far fa-phone"></i>+2 123 654 7898</a>
                  </li>
                  <li>
                    <a href="/cdn-cgi/l/email-protection#61080f070e210419000c110d044f020e0c"><i class="far fa-envelope"></i><span class="__cf_email__" data-cfemail="137a7d757c53766b727e637f763d707c7e">[email&#160;protected]</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-top-right">
              <div class="header-top-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-navigation">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="index.html">
              <img src="assets/img/logo/logo.png" alt="logo" />
            </a>
            <div class="mobile-menu-right">
              <a href="#" class="mobile-search-btn search-box-outer"><i class="far fa-search"></i></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="far fa-stream"></i></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="main_nav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown">Home</a>
                  <ul class="dropdown-menu fade-up">
                    <li><a class="dropdown-item" href="index.html">Home Page 01</a></li>
                    <li><a class="dropdown-item" href="index-2.html">Home Page 02</a></li>
                    <li><a class="dropdown-item" href="index-3.html">Home Page 03</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="about.html"> About </a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Pages</a>
                  <ul class="dropdown-menu fade-up">
                    <li><a class="dropdown-item" href="about.html">About Us</a></li>
                    <li><a class="dropdown-item" href="team.html">Team Members</a></li>
                    <li><a class="dropdown-item" href="pricing.html">Our Pricing</a></li>
                    <li><a class="dropdown-item" href="contact.html">Contact Us</a></li>
                    <li><a class="dropdown-item" href="faq.html">Faq</a></li>
                    <li><a class="dropdown-item" href="login.html">Login</a></li>
                    <li><a class="dropdown-item" href="register.html">Register</a></li>
                    <li><a class="dropdown-item" href="forgot-password.html">Forgot Password</a></li>
                    <li><a class="dropdown-item" href="404.html">404 Error</a></li>
                    <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>
                    <li><a class="dropdown-item" href="terms.html">Terms Of Service</a></li>
                    <li><a class="dropdown-item" href="privacy.html">Privacy Policy</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Service</a>
                  <ul class="dropdown-menu fade-up">
                    <li><a class="dropdown-item" href="service.html">Services</a></li>
                    <li><a class="dropdown-item" href="service-single.html">Service Details</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Project</a>
                  <ul class="dropdown-menu fade-up">
                    <li><a class="dropdown-item" href="project.html">Projects</a></li>
                    <li><a class="dropdown-item" href="project-single.html">Project Details</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Blog</a>
                  <ul class="dropdown-menu fade-up">
                    <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                    <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
              </ul>
              <div class="header-nav-right">
                <div class="header-nav-search">
                  <a href="#" class="search-box-outer"><i class="far fa-search"></i></a>
                </div>
                <div class="header-btn">
                  <a href="#" class="theme-btn">Get Quote<i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <div class="search-popup">
      <button class="close-search"><span class="far fa-times"></span></button>
      <form action="#">
        <div class="form-group">
          <input type="search" name="search-field" placeholder="Search Here..." required />
          <button type="submit"><i class="far fa-search"></i></button>
        </div>
      </form>
    </div>

    <main class="main">
      <div class="hero-section hero-slider owl-carousel owl-theme">
        <div class="hero-single" style="background-image: url(assets/img/slider/slider-1.jpg);">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-7 col-lg-7">
                <div class="hero-content">
                  <h6 class="hero-sub-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Protect Your Home Today</h6>
                  <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">We Care About <span>Your Pest</span> Infestation</h1>
                  <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                    There are many variations of passages available but the majority have suffered alteration in some form by injected humour or randomised words.
                  </p>
                  <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <a href="contact.html" class="theme-btn">Contact Us<i class="far fa-arrow-right"></i></a>
                    <a href="about.html" class="theme-btn theme-btn2">About Us<i class="far fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-single" style="background-image: url(assets/img/slider/slider-2.jpg);">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-7 col-lg-7">
                <div class="hero-content">
                  <h6 class="hero-sub-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Protect Your Home Today</h6>
                  <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">We Care About <span>Your Pest</span> Infestation</h1>
                  <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                    There are many variations of passages available but the majority have suffered alteration in some form by injected humour or randomised words.
                  </p>
                  <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <a href="contact.html" class="theme-btn">Contact Us<i class="far fa-arrow-right"></i></a>
                    <a href="about.html" class="theme-btn theme-btn2">About Us<i class="far fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-single" style="background-image: url(assets/img/slider/slider-3.jpg);">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-7 col-lg-7">
                <div class="hero-content">
                  <h6 class="hero-sub-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Protect Your Home Today</h6>
                  <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">We Care About <span>Your Pest</span> Infestation</h1>
                  <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                    There are many variations of passages available but the majority have suffered alteration in some form by injected humour or randomised words.
                  </p>
                  <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <a href="contact.html" class="theme-btn">Contact Us<i class="far fa-arrow-right"></i></a>
                    <a href="about.html" class="theme-btn theme-btn2">About Us<i class="far fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="appointment-area">
        <div class="container">
          <div class="appointment-content">
            <h3>
              Get Your Service
            </h3>
            <div class="appointment-form">
              <form action="#">
                <div class="row align-items-center">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <select class="form-select">
                        <option value>Select Your Service</option>
                        <option value="1">Residential Pest Control</option>
                        <option value="2">Commercial Pest Control</option>
                        <option value="3">Industrial Pest Control</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Your Email" />
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Your Name" />
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Your Phone" />
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <button type="submit" class="theme-btn">Get Start <i class="far fa-arrow-right"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="feature-area pt-120">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="feature-item">
                <i class="flaticon-lawyer"></i>
                <div class="feature-content">
                  <h4><a href="#">Experts Staff</a></h4>
                  <p>There are many variations of passages available but the majority have suffered in some form by injected humour.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="feature-item">
                <i class="flaticon-pesticide"></i>
                <div class="feature-content">
                  <h4><a href="#">Quality Work</a></h4>
                  <p>There are many variations of passages available but the majority have suffered in some form by injected humour.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="feature-item">
                <i class="flaticon-settings"></i>
                <div class="feature-content">
                  <h4><a href="#">Affordable Price</a></h4>
                  <p>There are many variations of passages available but the majority have suffered in some form by injected humour.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="about-area py-120">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="about-left">
                <div class="about-img">
                  <img src="assets/img/about/01.jpg" alt />
                </div>
                <div class="about-experience">
                  <h1>25 <span>+</span></h1>
                  <span class="about-experience-text">Years Of Experience</span>
                </div>
                <div class="about-shape">
                  <img src="assets/img/about/shape.svg" alt />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-right">
                <div class="site-heading mb-3">
                  <span class="site-title-tagline">About Us</span>
                  <h2 class="site-title">We Provide Best <span>Pest Control</span> Services</h2>
                </div>
                <p class="about-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even.</p>
                <div class="about-list-wrapper">
                  <ul class="about-list list-unstyled">
                    <li>
                      <div class="icon"><span class="fas fa-check-circle"></span></div>
                      <div class="text">
                        <p>Take a look at our round up of the best shows</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon"><span class="fas fa-check-circle"></span></div>
                      <div class="text">
                        <p>It has survived not only five centuries</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon"><span class="fas fa-check-circle"></span></div>
                      <div class="text">
                        <p>Lorem Ipsum has been the ndustry standard dummy text</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon"><span class="fas fa-check-circle"></span></div>
                      <div class="text">
                        <p>Sed ut perspiciatis unde omnis iste natus</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <a href="about.html" class="theme-btn">Discover More <i class="far fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pest-problem bg py-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="site-heading text-center">
                <span class="site-title-tagline">Pest</span>
                <h2 class="site-title">Pest <span>Problem</span></h2>
                <p>
                  It is a long established fact that a reader will be distracted
                </p>
              </div>
            </div>
          </div>
          <div class="pest-problem-slider owl-carousel owl-theme">
            <div class="pest-problem-item">
              <i class="flaticon-tarantula"></i>
              <h6><a href="#">Spiders</a></h6>
            </div>
            <div class="pest-problem-item">
              <i class="flaticon-mosquito"></i>
              <h6><a href="#">Mosquito</a></h6>
            </div>
            <div class="pest-problem-item">
              <i class="flaticon-squirrel"></i>
              <h6><a href="#">Rodents</a></h6>
            </div>
            <div class="pest-problem-item">
              <i class="flaticon-ant"></i>
              <h6><a href="#">Ants</a></h6>
            </div>
            <div class="pest-problem-item">
              <i class="flaticon-cockroach"></i>
              <h6><a href="#">Cockroach</a></h6>
            </div>
            <div class="pest-problem-item">
              <i class="flaticon-tarantula"></i>
              <h6><a href="#">Bed Bug</a></h6>
            </div>
            <div class="pest-problem-item">
              <i class="flaticon-fly"></i>
              <h6><a href="#">Fly</a></h6>
            </div>
            <div class="pest-problem-item">
              <i class="flaticon-bee"></i>
              <h6><a href="#">Bee</a></h6>
            </div>
          </div>
        </div>
      </div>

      <div class="service-area py-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="site-heading text-center">
                <span class="site-title-tagline">Services</span>
                <h2 class="site-title">What We <span>Offer</span></h2>
                <p>
                  It is a long established fact that a reader will be distracted
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service-img">
                  <img src="assets/img/service/01.jpg" alt />
                </div>
                <div class="service-info">
                  <h3 class="service-title">
                    <a href="#">Residential Pest Control</a>
                  </h3>
                  <p class="service-text">
                    There are many variations of passages available but the majority have suffered in some form by injected humour.
                  </p>
                  <div class="service-arrow">
                    <a href="#" class="service-read-btn">Learn More<i class="far fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service-img">
                  <img src="assets/img/service/02.jpg" alt />
                </div>
                <div class="service-info">
                  <h3 class="service-title">
                    <a href="#">Commercial Pest Control</a>
                  </h3>
                  <p class="service-text">
                    There are many variations of passages available but the majority have suffered in some form by injected humour.
                  </p>
                  <div class="service-arrow">
                    <a href="#" class="service-read-btn">Learn More<i class="far fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service-img">
                  <img src="assets/img/service/03.jpg" alt />
                </div>
                <div class="service-info">
                  <h3 class="service-title">
                    <a href="#">Industrial Pest Control</a>
                  </h3>
                  <p class="service-text">
                    There are many variations of passages available but the majority have suffered in some form by injected humour.
                  </p>
                  <div class="service-arrow">
                    <a href="#" class="service-read-btn">Learn More<i class="far fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service-img">
                  <img src="assets/img/service/04.jpg" alt />
                </div>
                <div class="service-info">
                  <h3 class="service-title">
                    <a href="#">Exclusive Pest Control</a>
                  </h3>
                  <p class="service-text">
                    There are many variations of passages available but the majority have suffered in some form by injected humour.
                  </p>
                  <div class="service-arrow">
                    <a href="#" class="service-read-btn">Learn More<i class="far fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service-img">
                  <img src="assets/img/service/05.jpg" alt />
                </div>
                <div class="service-info">
                  <h3 class="service-title">
                    <a href="#">Pest Prevention</a>
                  </h3>
                  <p class="service-text">
                    There are many variations of passages available but the majority have suffered in some form by injected humour.
                  </p>
                  <div class="service-arrow">
                    <a href="#" class="service-read-btn">Learn More<i class="far fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service-img">
                  <img src="assets/img/service/06.jpg" alt />
                </div>
                <div class="service-info">
                  <h3 class="service-title">
                    <a href="#">Regular Pest Control</a>
                  </h3>
                  <p class="service-text">
                    There are many variations of passages available but the majority have suffered in some form by injected humour.
                  </p>
                  <div class="service-arrow">
                    <a href="#" class="service-read-btn">Learn More<i class="far fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="counter-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="counter-box">
                <div class="icon"><i class="far fa-pastafarianism"></i></div>
                <span class="counter" data-count="+" data-to="500" data-speed="3000">500</span>
                <h6 class="title">+ Project Done</h6>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="counter-box">
                <div class="icon"><i class="fal fa-gas-pump"></i></div>
                <span class="counter" data-count="+" data-to="250" data-speed="3000">250</span>
                <h6 class="title">+ Satisfied Clients</h6>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="counter-box">
                <div class="icon"><i class="fal fa-user-friends"></i></div>
                <span class="counter" data-count="+" data-to="120" data-speed="3000">120</span>
                <h6 class="title">+ Experts Staff</h6>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="counter-box">
                <div class="icon"><i class="fal fa-award"></i></div>
                <span class="counter" data-count="+" data-to="300" data-speed="3000">300</span>
                <h6 class="title">+ Win Awards</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="case-area py-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="site-heading text-center">
                <span class="site-title-tagline">Cases</span>
                <h2 class="site-title">Recent <span>Projects</span></h2>
                <div class="heading-divider"></div>
                <p>
                  It is a long established fact that a reader will be distracted.
                </p>
              </div>
            </div>
          </div>
          <div class="row popup-gallery">
            <div class="case-slider owl-carousel owl-theme">
              <div class="case-item">
                <div class="case-img">
                  <img class="img-fluid" src="assets/img/case/01.jpg" alt />
                  <a class="popup-img case-link" href="assets/img/case/01.jpg"> <i class="far fa-plus"></i></a>
                </div>
                <div class="case-content">
                  <div class="case-content-info">
                    <small>Pest Control</small>
                    <h4><a href="#">Regular Pest Control</a></h4>
                  </div>
                  <a href="#" class="case-arrow"><i class="far fa-arrow-right"></i></a>
                </div>
              </div>
              <div class="case-item">
                <div class="case-img">
                  <img class="img-fluid" src="assets/img/case/02.jpg" alt />
                  <a class="popup-img case-link" href="assets/img/case/02.jpg"> <i class="far fa-plus"></i></a>
                </div>
                <div class="case-content">
                  <div class="case-content-info">
                    <small>Pest Control</small>
                    <h4><a href="#">Regular Pest Control</a></h4>
                  </div>
                  <a href="#" class="case-arrow"><i class="far fa-arrow-right"></i></a>
                </div>
              </div>
              <div class="case-item">
                <div class="case-img">
                  <img class="img-fluid" src="assets/img/case/03.jpg" alt />
                  <a class="popup-img case-link" href="assets/img/case/03.jpg"> <i class="far fa-plus"></i></a>
                </div>
                <div class="case-content">
                  <div class="case-content-info">
                    <small>Pest Control</small>
                    <h4><a href="#">Regular Pest Control</a></h4>
                  </div>
                  <a href="#" class="case-arrow"><i class="far fa-arrow-right"></i></a>
                </div>
              </div>
              <div class="case-item">
                <div class="case-img">
                  <img class="img-fluid" src="assets/img/case/04.jpg" alt />
                  <a class="popup-img case-link" href="assets/img/case/04.jpg"> <i class="far fa-plus"></i></a>
                </div>
                <div class="case-content">
                  <div class="case-content-info">
                    <small>Pest Control</small>
                    <h4><a href="#">Regular Pest Control</a></h4>
                  </div>
                  <a href="#" class="case-arrow"><i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="video-area" style="background-image: url(assets/img/video/video.jpg);">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="video-wrapper">
                <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU">
                  <i class="fas fa-play"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="skill-area py-120">
        <div class="container">
          <div class="skill-wrapper">
            <div class="row g-5 align-items-center">
              <div class="col-lg-6 col-12">
                <div class="skill-left">
                  <div class="skill-img">
                    <img src="assets/img/skill/01.jpg" alt="thumb" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="skill-right">
                  <span class="site-title-tagline">Our Skills</span>
                  <h2 class="site-title">We Offers Best <span>Pest Control</span> Service</h2>
                  <p class="skill-details">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                  </p>
                  <div class="skills-section">
                    <div class="progress-box">
                      <h5>Resindential <span class="pull-right">85%</span></h5>
                      <div class="progress" data-value="85">
                        <div class="progress-bar" role="progressbar"></div>
                      </div>
                    </div>
                    <div class="progress-box">
                      <h5>Commercial<span class="pull-right">65%</span></h5>
                      <div class="progress" data-value="65">
                        <div class="progress-bar" role="progressbar"></div>
                      </div>
                    </div>
                    <div class="progress-box">
                      <h5>Industrial<span class="pull-right">75%</span></h5>
                      <div class="progress" data-value="75">
                        <div class="progress-bar" role="progressbar"></div>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="theme-btn mt-5">Learn More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="team-area pb-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="site-heading text-center">
                <span class="site-title-tagline">Team</span>
                <h2 class="site-title">Meet <span>Experts</span></h2>
                <div class="heading-divider"></div>
                <p>
                  It is a long established fact that a reader will be distracted
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="team-item">
                <img src="assets/img/team/01.jpg" alt="thumb" />
                <div class="team-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="team-content">
                  <div class="team-bio">
                    <h5><a href="#">Malissa Fierro</a></h5>
                    <span>Senior Staff</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="team-item">
                <img src="assets/img/team/02.jpg" alt="thumb" />
                <div class="team-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="team-content">
                  <div class="team-bio">
                    <h5><a href="#">Arron Rodri</a></h5>
                    <span>Senior Staff</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="team-item active">
                <img src="assets/img/team/03.jpg" alt="thumb" />
                <div class="team-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="team-content">
                  <div class="team-bio">
                    <h5><a href="#">Chad Smith</a></h5>
                    <span>Senior Staff</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="team-item">
                <img src="assets/img/team/04.jpg" alt="thumb" />
                <div class="team-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="team-content">
                  <div class="team-bio">
                    <h5><a href="#">Tony Pinto</a></h5>
                    <span>Senior Staff</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="choose-area pt-50 pb-50">
        <div class="choose-img"></div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-6 choose-right">
              <div class="choose-right-content">
                <div class="site-heading mb-3">
                  <span class="site-title-tagline">Why Choose Us</span>
                  <h2 class="site-title my-3 text-white">We Are Expert In <span>Pest Control</span> Services</h2>
                </div>
                <p class="about-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even.</p>
                <ul>
                  <li>
                    <h5>Our experience</h5>
                    <p>
                      It is a long established fact that a reader will be distracted.
                    </p>
                  </li>
                  <li>
                    <h5>Certified company</h5>
                    <p>
                      It is a long established fact that a reader will be distracted.
                    </p>
                  </li>
                </ul>
                <a href="#" class="theme-btn">Start Project <i class="far fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="testimonial-area bg py-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="site-heading text-center">
                <span class="site-title-tagline">Testimonials</span>
                <h2 class="site-title">What Client <span>Say's</span></h2>
                <div class="heading-divider"></div>
                <p>
                  It is a long established fact that a reader will be distracted
                </p>
              </div>
            </div>
          </div>
          <div class="testimonial-slider owl-carousel owl-theme">
            <div class="testimonial-single">
              <div class="testimonial-quote">
                <span class="testimonial-quote-icon"><i class="fal fa-quote-left"></i></span>
                <p>
                  There are many variations of passages available but the majority have suffered alteration in some form by injected.
                </p>
              </div>
              <div class="testimonial-content">
                <div class="testimonial-author-img">
                  <img src="assets/img/testimonial/01.jpg" alt />
                </div>
                <div class="testimonial-author-info">
                  <h4>Sylvia H Green</h4>
                  <p>Founder & CEO</p>
                  <div class="testimonial-rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="testimonial-single">
              <div class="testimonial-quote">
                <span class="testimonial-quote-icon"><i class="fal fa-quote-left"></i></span>
                <p>
                  There are many variations of passages available but the majority have suffered alteration in some form by injected.
                </p>
              </div>
              <div class="testimonial-content">
                <div class="testimonial-author-img">
                  <img src="assets/img/testimonial/02.jpg" alt />
                </div>
                <div class="testimonial-author-info">
                  <h4>Gordon D Novak</h4>
                  <p>Founder & CEO</p>
                  <div class="testimonial-rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="testimonial-single">
              <div class="testimonial-quote">
                <span class="testimonial-quote-icon"><i class="fal fa-quote-left"></i></span>
                <p>
                  There are many variations of passages available but the majority have suffered alteration in some form by injected.
                </p>
              </div>
              <div class="testimonial-content">
                <div class="testimonial-author-img">
                  <img src="assets/img/testimonial/03.jpg" alt />
                </div>
                <div class="testimonial-author-info">
                  <h4>Reid E Butt</h4>
                  <p>Founder & CEO</p>
                  <div class="testimonial-rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="testimonial-single">
              <div class="testimonial-quote">
                <span class="testimonial-quote-icon"><i class="fal fa-quote-left"></i></span>
                <p>
                  There are many variations of passages available but the majority have suffered alteration in some form by injected.
                </p>
              </div>
              <div class="testimonial-content">
                <div class="testimonial-author-img">
                  <img src="assets/img/testimonial/04.jpg" alt />
                </div>
                <div class="testimonial-author-info">
                  <h4>Parker Jimenez</h4>
                  <p>Founder & CEO</p>
                  <div class="testimonial-rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="blog-area pt-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="site-heading text-center">
                <span class="site-title-tagline">Our Blog</span>
                <h2 class="site-title">News & <span> Blog</span></h2>
                <div class="heading-divider"></div>
                <p>
                  It is a long established fact that a reader will be distracted
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="blog-item">
                <div class="blog-item-img">
                  <img src="assets/img/blog/01.jpg" alt="Thumb" />
                </div>
                <div class="blog-item-info">
                  <div class="blog-item-meta">
                    <ul>
                      <li>
                        <a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a>
                      </li>
                      <li>
                        <a href="#"><i class="far fa-calendar-alt"></i> May 11, 2023</a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="blog-title">
                    <a href="#">There are many variates of passages alteration</a>
                  </h4>
                  <p>At vero eos et accusamus et iusto odio ducimus qui blanditiis deleniti atque</p>
                  <a class="theme-btn" href="#">Read More<i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="blog-item">
                <div class="blog-item-img">
                  <img src="assets/img/blog/02.jpg" alt="Thumb" />
                </div>
                <div class="blog-item-info">
                  <div class="blog-item-meta">
                    <ul>
                      <li>
                        <a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a>
                      </li>
                      <li>
                        <a href="#"><i class="far fa-calendar-alt"></i> May 11, 2023</a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="blog-title">
                    <a href="#">There are many variates of passages alteration</a>
                  </h4>
                  <p>At vero eos et accusamus et iusto odio ducimus qui blanditiis deleniti atque</p>
                  <a class="theme-btn" href="#">Read More<i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="blog-item">
                <div class="blog-item-img">
                  <img src="assets/img/blog/03.jpg" alt="Thumb" />
                </div>
                <div class="blog-item-info">
                  <div class="blog-item-meta">
                    <ul>
                      <li>
                        <a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a>
                      </li>
                      <li>
                        <a href="#"><i class="far fa-calendar-alt"></i> May 11, 2023</a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="blog-title">
                    <a href="#">There are many variates of passages alteration</a>
                  </h4>
                  <p>At vero eos et accusamus et iusto odio ducimus qui blanditiis deleniti atque</p>
                  <a class="theme-btn" href="#">Read More<i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="partner-area pt-70 pb-70">
        <div class="container">
          <div class="partner-wrapper partner-slider owl-carousel owl-theme">
            <img src="assets/img/partner/01.jpg" alt="thumb" />
            <img src="assets/img/partner/02.jpg" alt="thumb" />
            <img src="assets/img/partner/03.jpg" alt="thumb" />
            <img src="assets/img/partner/04.jpg" alt="thumb" />
            <img src="assets/img/partner/01.jpg" alt="thumb" />
            <img src="assets/img/partner/02.jpg" alt="thumb" />
            <img src="assets/img/partner/03.jpg" alt="thumb" />
          </div>
        </div>
      </div>
    </main>

    <footer class="footer-area">
      <div class="footer-widget">
        <div class="container">
          <div class="row footer-widget-wrapper pt-100 pb-70">
            <div class="col-md-6 col-lg-4">
              <div class="footer-widget-box about-us">
                <a href="#" class="footer-logo">
                  <img src="assets/img/logo/logo-light.png" alt />
                </a>
                <p class="mb-20">
                  We are many variations of passages available but the majority have suffered alteration in some form by injected humour.
                </p>
                <div class="footer-contact">
                  <ul>
                    <li><i class="far fa-map-marker-alt"></i>25/B Milford Road, New York, USA</li>
                    <li>
                      <a href="tel:+21236547898"><i class="far fa-phone"></i>+2 123 654 7898</a>
                    </li>
                    <li>
                      <a href="/cdn-cgi/l/email-protection#bfcccacfcfd0cdcbffdac7ded2cfd3da91dcd0d2">
                        <i class="far fa-envelope"></i><span class="__cf_email__" data-cfemail="87f4f2f7f7e8f5f3c7e2ffe6eaf7ebe2a9e4e8ea">[email&#160;protected]</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <ul class="footer-social">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-2">
              <div class="footer-widget-box list">
                <h4 class="footer-widget-title">Quick Links</h4>
                <ul class="footer-list">
                  <li>
                    <a href="#"><i class="fas fa-caret-right"></i> About Us</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-caret-right"></i> FAQ's</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-caret-right"></i> Terms Of Service</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-caret-right"></i> Privacy policy</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-caret-right"></i> Our Services</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-caret-right"></i> Latest Blog</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="footer-widget-box list">
                <h4 class="footer-widget-title">Our Services</h4>
                <ul class="footer-list">
                  <li>
                    <a href="#"><i class="fas fa-caret-right"></i> Residential Pest Control</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-caret-right"></i> Commercial Pest Control</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-caret-right"></i> Industrial Pest Control</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-caret-right"></i> Exclusive Pest Control</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-caret-right"></i> Pest Prevention</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-caret-right"></i> Regular Pest Control</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="footer-widget-box list">
                <h4 class="footer-widget-title">Newsletter</h4>
                <div class="footer-newsletter">
                  <p>Subscribe Our Newsletter To Get Latest Update And News</p>
                  <div class="subscribe-form">
                    <form action="#">
                      <input type="email" class="form-control" placeholder="Your Email" />
                      <button class="theme-btn" type="submit">Subscribe Now <i class="far fa-paper-plane"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <p class="copyright-text">&copy; Copyright <span id="date"></span> <a href="#"> PESTOX </a> All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 align-self-center">
              <ul class="footer-menu">
                <li><a href="#">Support</a></li>
                <li><a href="#">Terms Of Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <a href="#" id="scroll-top"><i class="far fa-long-arrow-up"></i></a>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/modernizr.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/counter-up.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
